@{
    ViewData["Title"] = "Home Page";
}


<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/images/télécompensation.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TÉLÉCOMPENSATION</h5>
      <p class="card-text">Le système de télécompensation garantit la sécurité des paiements, diminue les délais d’exécution ( dénouement en 24 heures) et améliore la qualité des informations transmises.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/images/infoswift.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SWIFTNET</h5>
      <p class="card-text">En tant qu'acteur majeur au service de l'interbancarité et disposant d'un réseau fiable et à haute disponibilité, la SIBTEL a été retenue pour héberger la passerelle permettant la connexion des banques au niveau réseau « SWIFTNet »</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/images/bs-exchange.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">AUTRES SERVICES</h5>
      <p class="card-text">La SIBTEL s'inscrit dans le « Cloud-Based Services », comme un acteur pouvant offrir à une clientèle variée (banques, assurances, etc.), des services de traitement de l'information indépendamment de leur position géographique.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
